# Ciencia de Datos en Python
## Proyecto #1
### Regresión Lineal Uni-Variable

In [1]:
# importo las librerías necesarias para realizar el proyecto

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [3]:
# Cargo los datos del csv usando numpy
datos = np.load('C:/Users/risca/Desktop/Maestria Ciencia de Datos/Ciencia de datos en Python/Ciencia_de_Datos_Python/U/Proyecto1/proyecto_training_data.npy')

In [9]:
df_datos = pd.DataFrame(datos)
df_datos.head()

          0    1       2    3       4     5
0  208500.0  7.0   856.0  8.0  2003.0  65.0
1  181500.0  6.0  1262.0  6.0  1976.0  80.0
2  223500.0  7.0   920.0  6.0  2001.0  68.0
3  140000.0  7.0   961.0  7.0  1915.0  60.0
4  250000.0  8.0  1145.0  9.0  2000.0  84.0

In [10]:
df_datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       1460 non-null   float64
 1   1       1460 non-null   float64
 2   2       1460 non-null   float64
 3   3       1460 non-null   float64
 4   4       1460 non-null   float64
 5   5       1201 non-null   float64
dtypes: float64(6)
memory usage: 68.6 KB

In [11]:
# Le agrego los nombres a las columnas
nombre_columnas = ['SalePrice', 'OverallQual', '1stFlrSF', 'TotRmsAbvGrd', 'YearBuilt', 'LotFrontage']
df_datos.columns = nombre_columnas

In [12]:
df_datos

      SalePrice  OverallQual  1stFlrSF  TotRmsAbvGrd  YearBuilt  LotFrontage
0      208500.0          7.0     856.0           8.0     2003.0         65.0
1      181500.0          6.0    1262.0           6.0     1976.0         80.0
2      223500.0          7.0     920.0           6.0     2001.0         68.0
3      140000.0          7.0     961.0           7.0     1915.0         60.0
4      250000.0          8.0    1145.0           9.0     2000.0         84.0
...         ...          ...       ...           ...        ...          ...
1455   175000.0          6.0     953.0           7.0     1999.0         62.0
1456   210000.0          6.0    2073.0           7.0     1978.0         85.0
1457   266500.0          7.0    1188.0           9.0     1941.0         66.0
1458   142125.0          5.0    1078.0           5.0     1950.0         68.0
1459   147500.0          5.0    1256.0           6.0     1965.0         75.0

[1460 rows x 6 columns]

In [13]:
!git init

Initialized empty Git repository in C:/Users/risca/Desktop/Maestria Ciencia de Datos/Ciencia de datos en Python/Ciencia_de_Datos_Python/U/Proyecto1/.git/